html {
	box-sizing: border-box;
	font-family: "Helvetica", "Arial";
	font-size: 24px;
	color: #fff;
}

*, *::before, *::after {
	box-sizing: inherit;
	font: inherit;
	color: inherit;
}

body {
	margin: 0;
}

header nav {
	background-color: #444;
	height: 100px;
	padding-top: 25px;
}

header nav a {
	text-decoration: none;
	margin: 0 25px 0 25px;
}

main {
	display: flex;
}

main .content-primary {
	flex: 1;
	background-image: url('images/dof1.png');
	height: 1200px;
}

main .content-secondary {
	flex: 1;
	background-color: green;
	height: 1200px;
}

main .content-tertiary {
	
}

