html {
	box-sizing: border-box;
	font-family: "Helvetica", "Arial";
	font-size: 24px;
	color: #fff;
}

*, *::before, *::after {
	box-sizing: inherit;
	font: inherit;
	color: inherit;
}

body {
	margin: 0 auto;
}

header nav {
	background-color: #444;
	height: 100px;
	padding-top: 25px;
}

header nav a {
	text-decoration: none;
	margin: 0 25px 0 25px;
}

main {
	display: flex;
}

main .content-primary {
	flex: 1;
	background-image: url('images/dof1b.png');
	height: 786px;
}

main .content-secondary {
	flex: 1;
	background-color: #4CBB4C;
	height: 786px;
}

main .content-secondary p {
	margin: 150px 50px 0 50px;
}

aside {
	background-color: #444;
}

aside h2 {
	font-size: 2em;
	margin-left: 300px;
	display: inline-block;
}

aside .content-tertiary {
	height: 786px;
	display: flex;
}

aside .content-tertiary div:nth-child(1) {
	flex: 1;
	height: 786px;
}

aside .content-tertiary div:nth-child(2){
	flex: 1;
	height: 786px;
}

aside .content-tertiary h2 {
	font-size: 2em;
}

aside .content-tertiary div:nth-child(1) p {
	margin: 100px 0 20px 280px;
}

aside .content-tertiary div:nth-child(2) p {
	margin: 100px 0 20px 240px;
}

aside .content-tertiary div a {
	text-decoration: none;
}

aside .content-tertiary div a:hover {
	color: #4CBB4C;
}

aside .content-tertiary img {
    margin: 0 0 10% 25%;
}

@media query and (max-width:600px){

	h2 {
		display: inline-block;
	}

	aside .content-tertiary img {
		width: 50px;
		height: 30px;
		margin-right: 100px;
	}
}

